<div id="header">
  <header id="app-header">
    <div id="app-brand">
      <a href=""><h1>CHOKO-VIEW</h1></a>
    </div>
    <div id="topnav">
      <button id="mobile-nav">≡</button>
      <ul id="nav-menu">
        <li><a href="">Trending</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Contact us</a></li>
        <li><a href="">Help</a></li>
      </ul>
    </div>
    <div id="view-search">
      <input type="text" placeholder="Search movie" />
    </div>
  </header>
</div>
