footer {
  background-color: chocolate;
  padding: 3rem 0;
}
#footer {
  color: aliceblue;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex: 1 0;
  align-items: center;
  justify-content: space-evenly;
}
